PORT=3333
DATABASE_URL=""

APP_URL="http://localhost:3000"
API_URL="http://localhost:3333"

JWT_SECRET="your_jwt_secret"
JWT_EXPIRE_IN="1d"

REFRESH_JWT_SECRET="your_refresh_jwt_secret"
REFRESH_JWT_EXPIRE_IN="7d"